<%- include('../partials/head', { title }) %>
<%- include('../partials/navbar', { title, role }) %>

<div class="layout">
  <%- include('../partials/sidebar', { role }) %>
  <main class="content">
    <h1>Mis Solicitudes</h1>
    <p>Aquí el estudiante podrá ver sus solicitudes.</p>
  </main>
</div>

<%- include('../partials/footer') %>